.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
    background-color: #d0d0d0
}

code {
    background-color: transparent;
    color: black;
}

.dataTables_filter {
    display: none;
}

ul.centered-pills {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 20px;
}
